
<style>
    #etb{}
    #etb .textareaBox textarea{
        border: none;
        width: 100%;
        height: 150px;
        padding: 0 16px;
    }
    .etb-text{
        display: block;
        width: 100%;
        resize: vertical;
    }
</style>

<div ng-csp id="etb" class="select-menu js-menu-container js-select-menu " ng-class="{active:menuShow}" ng-controller="etb">
    <a href="#" ng-click="openMenu()" class="btn btn-sm btn-with-count js-toggler-target select-menu-button">
        <span class="js-select-button">
            <svg class="octicon" style="margin:2px 2px;" width="12" height="12" viewBox="0 0 180 180" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="EH" fill="#000000" transform="translate(0.000000, 13.000000)">
                    <polygon id="Path-2"
                             points="0 0.202883984 0 153.452455 63.9237403 153.452455 63.9237403 128.434878 25.3357783 128.434878 25.3357783 89.8192926 51.0881973 89.8192926 51.0881973 64.4842269 25.815364 64.4842269 25.815364 26.0161147 63.9458219 26.0161147 63.9458219 0"></polygon>
                    <polygon id="Path-3"
                             points="102.413793 0.499934441 102.413793 153.799341 128.267497 153.799341 128.267497 89.8145927 153.883139 89.8145927 153.883139 153.360711 179.611922 153.360711 179.611922 0 154.060738 0 154.060738 63.8323757 128.389266 63.8323757 128.389266 0.125830495"></polygon>
                    <rect id="Rectangle" x="63.6206897" y="64.9220339" width="26.3793103" height="26.2779661"></rect>
                </g>
            </svg>
            {{pluginName}}
        </span>
    </a>
    <a class="social-count js-social-count" href="#">
        {{pluginVersion}}
    </a>
    <div class="select-menu-modal-holder">
        <div class="select-menu-modal js-menu-content" ng-include="nowPage"></div>
    </div>
</div>


<script type="text/ng-template" id="menu">
    <div class="select-menu-header" ng-click="closeMenu()">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1"
             viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"/>
        </svg>
        <span class="select-menu-title">请选择任务</span>
    </div>
    <div class="select-menu-list js-navigation-container">
        <div ng-click="startProgram()" class="select-menu-item js-navigation-item ">
            <svg width="16" height="16" class="octicon octicon-question select-menu-item-icon"
                 viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7559"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M157.142857 73.142857h860l-152 761.714286-459.428571 152.571428-398.857143-152.571428 40.571428-203.428572h169.714286l-16.571428 84 241.142857 92 277.714285-92 38.857143-193.714285H68l33.142857-169.714286h690.857143l21.714286-109.142857H123.428571z"
                      fill="#000000"></path>
            </svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">生成CSS</span>
                <span class="description">生成用户样式版EhTagTranslator，请使用Stylish扩展安装。理论上安卓火狐也可使用。</span>
            </div>
        </div>
        <!--
        <div class="select-menu-item js-navigation-item ">
            <svg width="16" height="16" class="octicon octicon-question select-menu-item-icon"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 200 200">
                <defs>
                    <style>.a {
                        fill: url(#a);
                    }

                    .b {
                        fill: url(#b);
                    }</style>
                    <linearGradient id="a" x1="-203.55" y1="494.39" x2="-203.01" y2="493.62"
                                    gradientTransform="matrix(165, 0, 0, -200.09, 33655.16, 98947.72)"
                                    gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-opacity="0.2"/>
                        <stop offset="1"/>
                    </linearGradient>
                    <linearGradient id="b" x1="133.87" y1="179.42" x2="41.19" y2="18.9"
                                    gradientTransform="matrix(1, 0, 0, 1, 0, 0)" xlink:href="#a"/>
                </defs>
                <title>Group2</title>
                <path class="a"
                      d="M100,51.82c-29.25-10.12-65,14-65,62.49C34.75,192.92,93.13,200,100,200a100.87,100.87,0,0,0,100-100A100.74,100.74,0,0,0,100,.08c12.5-1.62,65.63,13.12,65.63,86.24,0,47.62-40,73.61-65.87,62.49a50.74,50.74,0,0,1-29.12-48.74A51.24,51.24,0,0,1,100,51.82Z"
                      transform="translate(0 0.04)"/>
                <path class="b"
                      d="M35,114.37C35,70.08,64.81,46.14,92.27,50A39.75,39.75,0,0,1,100,51.82a50.74,50.74,0,0,1,29.13,48.24A51,51,0,0,1,100,148.93l0,0c25.88,10.81,65.59-15.16,65.59-62.61,0-61.66-37.78-81.81-57.11-85.63-1.35-.2-2.67-.36-4-.46C103,.2,101.53.14,100,.13l.49-.05H100a100.87,100.87,0,0,0-100,100A100.74,100.74,0,0,0,98.2,200C86.25,199,34.77,188.21,35,114.37Z"
                      transform="translate(0 0.04)"/>
            </svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">生成JS</span>
                <span class="description">生成用户样式版EhTagTranslator，请使用Stylish扩展安装。理论上安卓火狐也可使用。</span>
            </div>
        </div>
        -->
    </div>
    <div class="select-menu-list js-navigation-container">
        <div ng-click="openOption()" class="select-menu-item select-menu-action">
            <svg width="14" viewBox="0 0 14 16" version="1.1" height="16"
                 class="octicon octicon-question select-menu-item-icon" aria-hidden="true">
                <path d="M14 8.77V7.17l-1.94-0.64-0.45-1.09 0.88-1.84-1.13-1.13-1.81 0.91-1.09-0.45-0.69-1.92H6.17l-0.63 1.94-1.11 0.45-1.84-0.88-1.13 1.13 0.91 1.81-0.45 1.09L0 7.23v1.59l1.94 0.64 0.45 1.09-0.88 1.84 1.13 1.13 1.81-0.91 1.09 0.45 0.69 1.92h1.59l0.63-1.94 1.11-0.45 1.84 0.88 1.13-1.13-0.92-1.81 0.47-1.09 1.92-0.69zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
            </svg>
            <div class="select-menu-item-text">选项</div>
        </div>
        <a target="_blank" href="https://github.com/Mapaler/EhTagTranslator/wiki"
           class="select-menu-item select-menu-action">
            <svg width="16" viewBox="0 0 16 16" version="1.1" height="16"
                 class="octicon octicon-book select-menu-item-icon" aria-hidden="true">
                <path d="M2 5h4v1H2v-1z m0 3h4v-1H2v1z m0 2h4v-1H2v1z m11-5H9v1h4v-1z m0 2H9v1h4v-1z m0 2H9v1h4v-1z m2-6v9c0 0.55-0.45 1-1 1H8.5l-1 1-1-1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h5.5l1 1 1-1h5.5c0.55 0 1 0.45 1 1z m-8 0.5l-0.5-0.5H1v9h6V3.5z m7-0.5H8.5l-0.5 0.5v8.5h6V3z"></path>
            </svg>
            <div class="select-menu-item-text">参与补全翻译</div>
        </a>
    </div>
</script>

<script type="text/ng-template" id="option">
    <div class="select-menu-header" ng-click="closeMenu()">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1"
             viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"/>
        </svg>
        <span class="select-menu-title">{{pluginName}} 设置</span>
    </div>
    <div class="select-menu-list js-navigation-container">
        <label class="select-menu-item">
            <input type="checkbox" ng-model="config.showDescription" class="octicon octicon-question select-menu-item-icon ETB_create-info">
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">生成简介</span>
                <span class="description">生成光标移动到Tag上时出现的简介。</span>
            </div>
        </label>
        <label class="select-menu-item">
            <!--<input type="checkbox" class="octicon octicon-question select-menu-item-icon ETB_create-info-image">-->
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">简介图片数量限制</span>
                <span class="description"><input type="number" ng-model="config.imageLimit" min="-1" step="1"><br>（0为不显示，-1为不限制）</span>
            </div>
        </label>
        <label class="select-menu-item">
            <input type="checkbox" ng-model="config.showIcon" class="octicon octicon-question select-menu-item-icon ETB_create-cname-image">
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">生成中文名图片和Emoji</span>
                <span class="description">生成中文名中的图片和绘文字，一般为名称前的小图标。</span>
            </div>
        </label>
        <label class="select-menu-item">
            <input type="checkbox" ng-model="config.syringe" class="octicon octicon-question select-menu-item-icon ETB_create-syringe">
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">使用内置样式注入器</span>
                <span class="description">本脚本自动注入汉化样式，无需Stylish扩展。</span>
            </div>
        </label>
        <div class="select-menu-item">
            <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" 
                 class="octicon octicon-question select-menu-item-icon">
                <defs>
                    <path d="M0 14.995C0 6.714 6.713 0 14.995 0h34.01C57.286 0 64 6.713 64 14.995v34.01C64 57.287 57.287 64 49.005 64h-34.01C6.714 64 0 57.287 0 49.005v-34.01z" id="a"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <mask id="b" fill="#fff">
                        <use xlink:href="#a"/>
                    </mask>
                    <use fill-opacity="0" fill="#FFF" xlink:href="#a"/>
                    <path fill="#2ECC71" mask="url(#b)" d="M30 0v39H0V0z"/>
                    <path fill="#E74C3C" mask="url(#b)" d="M64 0v21H34V0z"/>
                    <path fill="#F39C12" mask="url(#b)" d="M30 43v21H0V43z"/>
                    <path fill="#3498DB" mask="url(#b)" d="M64 25.5v39H34v-39z"/>
                </g>
            </svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Tag通用样式</span>
                <span class="description">
                    <div>
                        <div>Tag统一应用的样式，可修改为自己喜爱的样式。</div>
                        <label for="ETB_global-style">表里共用样式</label>
                        <textarea id="ETB_global-style" class="etb-text" ng-model="config.style.public" wrap="off"></textarea>
                        <label for="ETB_global-style-eh">表站样式</label>
                        <textarea id="ETB_global-style-eh" class="etb-text" ng-model="config.style.eh" wrap="off"></textarea>
                        <label for="ETB_global-style-ex">里站样式</label>
                        <textarea id="ETB_global-style-ex" class="etb-text" ng-model="config.style.ex" wrap="off"></textarea>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="select-menu-list js-navigation-container"><a target="_blank"
                                                             href="https://github.com/Mapaler/EhTagTranslator/labels/%E6%A0%B7%E5%BC%8F%E5%88%86%E4%BA%AB"
                                                             class="select-menu-item select-menu-action">
        <svg width="14" viewBox="0 0 14 16" version="1.1" height="16"
             class="octicon octicon-code select-menu-item-icon" aria-hidden="true">
            <path d="M9.5 3l-1.5 1.5 3.5 3.5L8 11.5l1.5 1.5 4.5-5L9.5 3zM4.5 3L0 8l4.5 5 1.5-1.5L2.5 8l3.5-3.5L4.5 3z"></path>
        </svg>
        <div class="select-menu-item-text">其他用户分享的通用样式</div>
    </a>
        <div class="select-menu-item select-menu-action">
            <div class="select-menu-item-text">
                <div>
                    <button id="ETB_reset-option" ng-click="optionReset()" name="ETB_reset-option"
                            class="btn btn-sm btn-danger ETB_reset-option">重置
                    </button>
                    <button id="ETB_save-option" ng-click="optionSave()" name="ETB_save-option"
                            class="btn btn-sm btn-primary ETB_save-option">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="getData">
    <div class="select-menu-header" ng-click="closeMenu()">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1"
             viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"/>
        </svg>
        <span class="select-menu-title">数据获取中。。</span>
    </div>

    <div class="select-menu-list js-navigation-container">
        <div class="select-menu-item select-menu-action">
            <svg ng-if="wikiVersion" aria-hidden="true" class="octicon select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"/></svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">获取wiki版本信息</span>
                <span class="description" ng-if="wikiVersion">{{wikiVersion.code}} {{timetime(wikiVersion.update_time)}}</span>
            </div>
        </div>
        <div class="select-menu-item select-menu-action">
            <svg ng-if="dataset" aria-hidden="true" class="octicon select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"/></svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">获取列表页面</span>
            </div>
        </div>
        <div ng-repeat="row in dataset" class="select-menu-item select-menu-action">
            <svg ng-if="row.tags" aria-hidden="true" style="" class="octicon select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"/></svg>
            <div class="select-menu-item-text">
                <span class="select-menu-item-heading">获取{{row.cname}}</span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="css">
    <div class="select-menu-header" ng-click="closeMenu()">
        <svg width="12" height="16" viewBox="0 0 12 16" version="1.1"
             class="octicon octicon-x js-menu-close">
            <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"/>
        </svg>
        <span class="select-menu-title">最新翻译获取完成</span>
    </div>

    <div class="select-menu-list js-navigation-container">
        <!--<div class="textareaBox">-->
            <!--<textarea ng-model="cssStylish" wrap="off"></textarea>-->
        <!--</div>-->
        <button class="select-menu-item select-menu-action" ng-click="saveCss()">
            <span class="octicon octicon-book select-menu-item-icon">💉</span>
            <div class="select-menu-item-text" >注入到E站页面</div>
        </button>
        <button class="select-menu-item select-menu-action" ng-click="copyStylishCss()">
            <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" 
                 class="octicon octicon-book select-menu-item-icon">
                <defs>
                    <path d="M0 14.995C0 6.714 6.713 0 14.995 0h34.01C57.286 0 64 6.713 64 14.995v34.01C64 57.287 57.287 64 49.005 64h-34.01C6.714 64 0 57.287 0 49.005v-34.01z" id="a"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <mask id="b" fill="#fff">
                        <use xlink:href="#a"/>
                    </mask>
                    <use fill-opacity="0" fill="#FFF" xlink:href="#a"/>
                    <path fill="#2ECC71" mask="url(#b)" d="M30 0v39H0V0z"/>
                    <path fill="#E74C3C" mask="url(#b)" d="M64 0v21H34V0z"/>
                    <path fill="#F39C12" mask="url(#b)" d="M30 43v21H0V43z"/>
                    <path fill="#3498DB" mask="url(#b)" d="M64 25.5v39H34v-39z"/>
                </g>
            </svg>
            <div class="select-menu-item-text" >复制Mozilla格式（用于火狐Stylish或酷容Stylish初次安装）</div>
        </button>
        <button class="select-menu-item select-menu-action" ng-click="copyCss()">
            <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" 
                 class="octicon octicon-book select-menu-item-icon">
                <path d="M2 5h4v1H2v-1z m0 3h4v-1H2v1z m0 2h4v-1H2v1z m11-5H9v1h4v-1z m0 2H9v1h4v-1z m0 2H9v1h4v-1z m2-6v9c0 0.55-0.45 1-1 1H8.5l-1 1-1-1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h5.5l1 1 1-1h5.5c0.55 0 1 0.45 1 1z m-8 0.5l-0.5-0.5H1v9h6V3.5z m7-0.5H8.5l-0.5 0.5v8.5h6V3z"></path>
            </svg>
            <div class="select-menu-item-text">仅复制翻译样式（用于仅更新酷容Stylish数据库）</div>
        </button>



    </div>
</script>