<style>
    .ets-menu{
        position: relative;
    }
    .etc-munu-box{
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 20px;
        width: 200px;
        height: 200px;
        background: #fff;
        z-index: 999999;

    }
    @keyframes spring
    {
        from {transform:translate(-5px,-5px) scaleY(0.9) skewX(-6deg);}
        50% {transform:translate(-5px,-5px) scaleY(1) skewX(0);}
        to {transform:translate(-5px,-5px) scaleY(0.9) skewX(6deg);}
    }
    .newWiki
    {
        font-size: 0.7em;
        color: red;
        display: inline-block;
        text-shadow:
                white 1px 1px 1px,
                white 1px -1px 1px,
                white -1px 1px 1px,
                white -1px -1px 1px;
        transform-origin: center bottom;
        animation: spring 0.5s ease-in-out infinite alternate;
    }
    .etc-munu-box{
        padding: 8px;
        background: #4f535b;
        border: 1px solid #000000;
    }
</style>
<span class="ets-menu" ng-controller="etb">
    <img ng-src="{{iconImg}}" alt="">
    <a href="#" ng-click="openMenu()">
    {{pluginName}}
    <span class="newWiki" ng-if="newVersion&&newVersion.code != wikiVersion.code">NEW</span>
    </a>

    <div class="etc-munu-box" ng-if="menuShow">

        <label><input  type="checkbox" ng-change="hideChange()" ng-model="hide">显示原文</label>

        <div ng-if="newVersion&&wikiVersion">

            <div ng-if="wikiVersion.code==newVersion.code">已是最新版本</div>
            <div ng-if="wikiVersion.code!=newVersion.code">
                有更新! 发布于{{timetime(newVersion.update_time)}}
            </div>
            <div>
                {{wikiVersion.code}}...{{newVersion.code}}
            </div>
            <div ng-if="lastVersionCheck">上次检查:{{timetime(lastVersionCheck.time)}}</div>
            <div ng-if="update_time">上次更新:{{timetime(update_time)}}</div>

            <button ng-click="VersionCheck()">立即检查</button>

        </div>
        <div ng-if="!newVersion">未获取到版本信息</div>
        <div ng-if="!noData">
            没有翻译数据，请先获取数据
            <a target="_blank" href="https://github.com/Mapaler/EhTagTranslator#/ets-open-menu">更新数据</a>
        </div>

        <div>
            <a target="_blank" href="https://github.com/Mapaler/EhTagTranslator#/ets-open-menu">更新数据</a>
            <a target="_blank" href="https://github.com/Mapaler/EhTagTranslator#/ets-open-option">修改设置</a>
            <a target="_blank" href="https://github.com/Mapaler/EhTagTranslator/wiki">参与翻译</a>
        </div>
    </div>
</span>